body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #003049;
    color: white;
    text-align: center;
    overflow: hidden;
}
.top-header {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-title img {
     display: block;
     max-width: 100%;
     height: auto;
     margin-left:1px;
}


.logo-title h1 {
    font-family: 'GreatVibes', cursive;
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    margin-right:10px;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.navigation a:hover {
    text-decoration: underline;
}
main {
    padding: 1rem;
}


.logo img{
    width:5%;
    
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.menu button {
    padding: 0.7rem 1rem;
    margin: 0.5rem;
    border: none;
    background-color: #003049;
    color: white;
    cursor: pointer;
}

#members.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

#members.grid section {
    background-color: white;
    min-height: 320px;

    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#members.grid img {
    width: 120px;
    height: auto;
}

#members.list {
    display: flex;
    flex-direction: column;
}

#members.list section {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}

#members.list img {
    width: 80px;
}

a {
    color: #003049;
}
footer{
     background-color: #2e4557;
     min-height: 220px;

}
.footer-container {
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    color: white;
}

.footer-socials {
    display: flex;
    gap: 1rem;
}

.footer-socials img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.footer-socials img:hover {
    transform: scale(1.1);
}
/** MENU BUTTON **/
#menu {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

@media screen and (min-width: 900px) {

    .join-container {

        display: grid;

        grid-template-columns: 1fr 1fr;

        gap: 4rem;

        align-items: start;
    }

    .membership-section {

        margin-top: 0;
    }

}

@media screen and (min-width: 1025px) {

.discover-grid {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card6"
        "card7 card8";
}

.discover-card {
    display: grid;
    grid-template-areas:
        "title title"
        "image desc"
        "image address"
        "button button";

    
    grid-template-columns: 250px 1fr;
    gap: 1rem;
    width: 100%;
}

.discover-card h2 {
    grid-area: title;
}

.discover-card figure {
    grid-area: image;
}

.discover-card p {
    grid-area: desc;
}

.discover-card address {
    grid-area: address;
}

.discover-card button {
    grid-area: button;
}

}